Repository AdaCore/ada-spark-rfcs, pull requests merged in 2025-08, with the labels that each got.

#8 [RFC] Indexing/iteration aspects on unbounded strings
  considered/rfc-add-indexing-aspects-to-unbounded-strings.rst
Labels: enhancement, RFC, stdlib

#9 [RFC] Constant range indexing
  considered/rfc-add-constant-range-indexing.rst
Labels: enhancement, RFC, syntax, quality of life

#27 [RFC] Simple return by reference syntax
  considered/rfc-simplified-return-by-reference.rst
Labels: enhancement, RFC, accessibility

#33 [RFC] Generic subtype formals
  considered/generic_subtype_formals.rst
Labels: enhancement, RFC, generics, needs-review

#35 [RFC] Default initialization for out parameters
  considered/rfc-initialization-for-out-parameters.rst
Labels: enhancement, RFC, quality of life, safety

#37 [RFC] Lightweight iterators
  considered/rfc-lightweight-iterators.rst
Labels: enhancement, RFC, iterators, syntax

#41 [RFC] Deferred Partial Instantiation of Generic Specifications
  considered/rfc-deferred-partial-instantiation.rst
Labels: enhancement, RFC, generics

#64 [RFC] Adjust_Indexing aspect.
  considered/rfc-adjust_indexing.md
Labels: enhancement, RFC, syntax, needs-review
